flows.json
[{"id":"3281ca1e.7d5176","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"b8b40fc.3b11cf","type":"ui_form","z":"3281ca1e.7d5176","name":"","label":"","group":"e96ab79e.1ac0e8","order":1,"width":0,"height":0,"options":[{"label":"Country","value":"a","type":"text","required":true,"rows":null},{"label":"Year ","value":"b","type":"number","required":true,"rows":null},{"label":"Status","value":"c","type":"text","required":true,"rows":null},{"label":"Adult Mortality","value":"d","type":"number","required":true,"rows":null},{"label":"infant deaths","value":"e","type":"number","required":true,"rows":null},{"label":"Alcohol","value":"f","type":"number","required":true,"rows":null},{"label":"percentage expenditure","value":"g","type":"number","required":true,"rows":null},{"label":"Hepatitis B","value":"h","type":"number","required":true,"rows":null},{"label":"Measles","value":"i","type":"number","required":true,"rows":null},{"label":" BMI","value":"j","type":"number","required":true,"rows":null},{"label":"under-five deaths","value":"k","type":"number","required":true,"rows":null},{"label":"Polio","value":"l","type":"number","required":true,"rows":null},{"label":"Total expenditure","value":"m","type":"number","required":true,"rows":null},{"label":"Diphtheria","value":"n","type":"number","required":true,"rows":null},{"label":" HIV/AIDS","value":"o","type":"number","required":true,"rows":null},{"label":"GDP","value":"p","type":"number","required":true,"rows":null},{"label":"Population","value":"q","type":"number","required":true,"rows":null},{"label":" thinness 1-19 years","value":"r","type":"number","required":true,"rows":null},{"label":" thinness 5-9 years","value":"s","type":"number","required":true,"rows":null},{"label":"Income composition of resources","value":"t","type":"number","required":true,"rows":null},{"label":"Schooling","value":"u","type":"number","required":true,"rows":null}],"formValue":{"a":"","b":"","c":"","d":"","e":"","f":"","g":"","h":"","i":"","j":"","k":"","l":"","m":"","n":"","o":"","p":"","q":"","r":"","s":"","t":"","u":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":70,"y":100,"wires":[["a427a909.f25388"]]},{"id":"a427a909.f25388","type":"function","z":"3281ca1e.7d5176","name":"pre token","func":"//make user given values as global variables\nglobal.set(\"a\",msg.payload.a);\nglobal.set(\"b\",msg.payload.b);\nglobal.set(\"c\",msg.payload.c);\nglobal.set(\"d\",msg.payload.d);\nglobal.set(\"e\",msg.payload.e);\nglobal.set(\"f\",msg.payload.f);\nglobal.set(\"g\",msg.payload.g);\nglobal.set(\"h\",msg.payload.h);\nglobal.set(\"i\",msg.payload.i);\nglobal.set(\"j\",msg.payload.j);\nglobal.set(\"k\",msg.payload.k);\nglobal.set(\"l\",msg.payload.l);\nglobal.set(\"m\",msg.payload.m);\nglobal.set(\"n\",msg.payload.n);\nglobal.set(\"o\",msg.payload.o);\nglobal.set(\"p\",msg.payload.p);\nglobal.set(\"q\",msg.payload.q);\nglobal.set(\"r\",msg.payload.r);\nglobal.set(\"s\",msg.payload.s);\nglobal.set(\"t\",msg.payload.t);\nglobal.set(\"u\",msg.payload.u);\n\n//following are required to receive a token\nvar apikey=\"lbmtcNnwFMO1RX_boGu43XFBmowl8-Y7byyJCVzqgLOd\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"};\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey};\nreturn msg;\n","outputs":1,"noerr":0,"x":220,"y":100,"wires":[["ec0db7c7.5c7db8"]]},{"id":"1edbb5d.801ce4a","type":"http request","z":"3281ca1e.7d5176","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://us-south.ml.cloud.ibm.com/v3/wml_instances/d1523bf1-560a-4c9f-a44d-561826349991/deployments/c8c3c365-7003-42dd-822c-fd64721db999/online","tls":"","persist":false,"proxy":"","authType":"","x":470,"y":180,"wires":[["88c80a78.6939f8","8370543e.e04598"]]},{"id":"eccf3d28.112b4","type":"function","z":"3281ca1e.7d5176","name":"sendTo Endpoint","func":"//get token and make headers\nvar token=msg.payload.access_token;\nvar instance_id=\"d1523bf1-560a-4c9f-a44d-56182634999\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\n\n//get variables that are set earlier\nvar a = global.get(\"a\");\nvar b = global.get(\"b\");\nvar c = global.get(\"c\");\nvar d = global.get(\"d\");\nvar e = global.get(\"e\");\nvar f = global.get(\"f\");\nvar g = global.get(\"g\");\nvar h = global.get(\"h\");\nvar i = global.get(\"i\");\nvar j = global.get(\"j\");\nvar k = global.get(\"k\");\nvar l = global.get(\"l\");\nvar m = global.get(\"m\");\nvar n = global.get(\"n\");\nvar o = global.get(\"o\");\nvar p = global.get(\"p\");\nvar q = global.get(\"q\");\nvar r = global.get(\"r\");\nvar s = global.get(\"s\");\nvar t = global.get(\"t\");\nvar u = global.get(\"u\");\n\n//Status\nvar array = ['Developing','Developed'];\nvar x=array.indexOf(c);\n\n//country\nvar array2 = ['Afghanistan',\n 'Albania',\n 'Algeria',\n 'Angola',\n 'Argentina',\n 'Armenia',\n 'Australia',\n 'Austria',\n 'Azerbaijan',\n 'Bangladesh',\n 'Belarus',\n 'Belgium',\n 'Belize',\n 'Benin',\n 'Bhutan',\n 'Bosnia and Herzegovina',\n 'Botswana',\n 'Brazil',\n 'Bulgaria',\n 'Burkina Faso',\n 'Burundi',\n 'Cabo Verde',\n 'Cambodia',\n 'Cameroon',\n 'Canada',\n 'Central African Republic',\n 'Chad',\n 'Chile',\n 'China',\n 'Colombia',\n 'Comoros',\n 'Costa Rica',\n 'Croatia',\n 'Cyprus',\n 'Djibouti',\n 'Dominican Republic',\n 'Ecuador',\n 'El Salvador',\n 'Equatorial Guinea',\n 'Eritrea',\n 'Estonia',\n 'Ethiopia',\n 'Fiji',\n 'France',\n 'Gabon',\n 'Georgia',\n 'Germany',\n 'Ghana',\n 'Greece',\n 'Guatemala',\n 'Guinea',\n 'Guinea-Bissau',\n 'Guyana',\n 'Haiti',\n 'Honduras',\n 'India',\n 'Indonesia',\n 'Iraq',\n 'Ireland',\n 'Israel',\n 'Italy',\n 'Jamaica',\n 'Jordan',\n 'Kazakhstan',\n 'Kenya',\n 'Kiribati',\n 'Latvia',\n 'Lebanon',\n 'Lesotho',\n 'Liberia',\n 'Lithuania',\n 'Luxembourg',\n 'Madagascar',\n 'Malawi',\n 'Malaysia',\n 'Maldives',\n 'Mali',\n 'Malta',\n 'Mauritania',\n 'Mauritius',\n 'Mexico',\n 'Mongolia',\n 'Montenegro',\n 'Morocco',\n 'Mozambique',\n 'Myanmar',\n 'Namibia',\n 'Nepal',\n 'Netherlands',\n 'Nicaragua',\n 'Niger',\n 'Nigeria',\n 'Pakistan',\n 'Panama',\n 'Papua New Guinea',\n 'Paraguay',\n 'Peru',\n 'Philippines',\n 'Poland',\n 'Portugal',\n 'Romania',\n 'Russian Federation',\n 'Rwanda',\n 'Samoa',\n 'Sao Tome and Principe',\n 'Senegal',\n 'Serbia',\n 'Seychelles',\n 'Sierra Leone',\n 'Solomon Islands',\n 'South Africa',\n 'Spain',\n 'Sri Lanka',\n 'Suriname',\n 'Swaziland',\n 'Sweden',\n 'Syrian Arab Republic',\n 'Tajikistan',\n 'Thailand',\n 'Timor-Leste',\n 'Togo',\n 'Tonga',\n 'Trinidad and Tobago',\n 'Tunisia',\n 'Turkey',\n 'Turkmenistan',\n 'Uganda',\n 'Ukraine',\n 'Uruguay',\n 'Uzbekistan',\n 'Vanuatu',\n 'Zambia',\n 'Zimbabwe'];\nvar y=array.indexOf(a);\n\n//send the user values to service endpoint\nmsg.payload = \n{\"fields\":['Country','Year','Status', 'Adult Mortality', 'infant deaths', 'Alcohol',\n'percentage expenditure', 'Hepatitis B', 'Measles ', ' BMI ',\n'under-five deaths ', 'Polio', 'Total expenditure', 'Diphtheria ',\n' HIV/AIDS', 'GDP', 'Population', ' thinness 1-19 years',\n' thinness 5-9 years', 'Income composition of resources', 'Schooling'],\n\"values\":[[y,b,x,d,e,f,g,h,i,j,k,l,m,n,o,p,q,r,s,t,u]]};\n\nreturn msg;\n","outputs":1,"noerr":0,"x":210,"y":180,"wires":[["1edbb5d.801ce4a"]]},{"id":"ec0db7c7.5c7db8","type":"http request","z":"3281ca1e.7d5176","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"basic","x":370,"y":100,"wires":[["eccf3d28.112b4"]]},{"id":"88c80a78.6939f8","type":"ui_text","z":"3281ca1e.7d5176","group":"e96ab79e.1ac0e8","order":2,"width":0,"height":0,"name":"","label":"predict","format":"{{msg.payload.values[0][0]}}","layout":"row-spread","x":660,"y":220,"wires":[]},{"id":"8370543e.e04598","type":"debug","z":"3281ca1e.7d5176","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":680,"y":140,"wires":[]},{"id":"e96ab79e.1ac0e8","type":"ui_group","z":"","name":"FORM","tab":"f253add6.48b48","order":1,"disp":true,"width":"6","collapse":false},{"id":"f253add6.48b48","type":"ui_tab","z":"","name":"Tab","icon":"dashboard","disabled":false,"hidden":false}]